Checks: 'readability-identifier-naming'
CheckOptions:
  readability-identifier-naming.ClassCase:              CamelCase
  readability-identifier-naming.StructCase:             CamelCase
  readability-identifier-naming.EnumCase:               CamelCase
  readability-identifier-naming.EnumConstantCase:       CamelCase
  readability-identifier-naming.FunctionCase:          lower_case
  readability-identifier-naming.VariableCase:          lower_case
  readability-identifier-naming.ParameterCase:         lower_case
  readability-identifier-naming.PrivateMemberCase:     lower_case
  readability-identifier-naming.PrivateMemberSuffix:          '_'
  readability-identifier-naming.ConstexprVariableCase:  CamelCase
  readability-identifier-naming.ConstexprVariablePrefix:      'k'
  readability-identifier-naming.NamespaceCase:         lower_case
  readability-identifier-naming.MacroDefinitionCase:   UPPER_CASE

  readability-identifier-naming.FunctionIgnoredRegexp: '^LLVMFuzzer.*'
